[Desktop Entry]
Name=Sincronizacion del Repositorio
Comment=Sincroniza repo catedra
Exec=bash $vmach_bindir/repobrutalcopy.sh
Icon=$vmach_bindir/khabylame.png
Terminal=true
Type=Application
StartupNotify=false
