[Unit]
Description=kaggle
After=services_recrear@%i.service
After=buckets@%i.service
After=runatboot@%i.service
Requires=services_recrear@%i.service
Requires=buckets@%i.service
Requires=runatboot@%i.service

[Service]
Type=oneshot
ExecStart=/home/%i/machina/direct/kaggle_startup.sh
WorkingDirectory=/home/%i/
User=%i
Group=%i

[Install]
WantedBy=default.target
